<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/formValidate.js"></script>
</head>
<body>
    <div class="container ">
        <div class="user-form">
    
            <form  class="form-signUp" onsubmit="validate(event)" action="/verify" method="POST">
                <div class="signUp">
                    <div class="inner-form">
                        
                        <div class="text-center">
                            <img src="utilities/MummyZon.png" class="rounded" alt="...">
                          </div>  

                        <h1>Create your account</h1>  
                        <div class="form-row">
                            <div class="form-group form-center">
                                <label for="inputEmail4">Your name</label>
                                <input type="text" class="form-control" id="userName" name="name" placeholder="Your name" required>
                                <div class="valid-feedback">
                                    Looks good!
                                  </div>
                                
                            </div>
                        </div>
                    
                    
                        <div class="form-row">
                            <div class="form-group form-center">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" required>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                  </div>
                            </div>
                        </div>
                    
                        <div class="form-row">
                            <div class="form-group form-center">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" name="password1" id="inputPassword1" placeholder="At least 6 characters" required>
                                <div class="invalid-feedback">
                                    Please provide a valid password.
                                  </div>
                                  <div class="valid-feedback">
                                    Looks good!
                                  </div> 
                            </div>
                        </div>
                    
                        <div class="form-row">
                            <div class="form-group form-center">
                                <label for="inputPassword2">Re-enter password</label>
                                <input type="password" class="form-control" name="password2" id="inputPassword2" placeholder="Password" required>
                                <div class="invalid-feedback">
                                    Please provide a valid password.
                                  </div>
                                  <div class="valid-feedback">
                                    Looks good!
                                  </div>    
                            </div>
                        </div>
                        <div class="noError" id ="password-error"style="text-align: center;">
                            paswords donot match
                        </div>
                        <div class="form-submit-button">
                            
                            <button type="submit" class="btn btn-primary ">Let's go</button>
                        </div>
                       
                       
    
                    </div>        
                    
                </div>
                
            </form>
    
        </div>
     <div style="text-align: center;" >
         <p>@coderRajput 2020-2021</p>

     </div>   
    </div>
</body>
</html>